{% include 'basehead.html' %}

<body class="p-2">
    {% include 'menu.html' %}
    <h1>Arriendo de Propiedades</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class='mb-3'>
            <label class="form-label" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% include 'base.html' %}
</body>