{% include 'basehead.html' %}

<body>
    {% include 'menu.html' %}
    <h1>Listado de inmuebles</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">M2 Totales</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>

        <tbody>
            {% for inmueble in inmuebles %}
            <tr>
                <td>{{inmueble.inm_id}}</td>
                <td>{{inmueble.inm_nombre}}</td>
                <td>{{inmueble.inm_m2total}}</td>
                <td>{{inmueble.inm_precio}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'base.html' %}
</body>